#
# Ansible controlled
#
auto br-ffbsee
iface br-ffbsee inet dhcp
        bridge-ports bat-ffbsee
        pre-up /usr/sbin/batctl ra {{batman_protocol_mode}}
        pre-up /sbin/ip link add dummy-ffbsee type dummy
        pre-up /sbin/ip link set address $(ip -br l | grep eth0 | egrep -o '([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})' | head -1) dev dummy-ffbsee
        pre-up /sbin/ip link set dummy-ffbsee up
        pre-up /usr/sbin/batctl -m bat-ffbsee if add dummy-ffbsee
        pre-up /sbin/ip link set bat-ffbsee up
        pre-up /usr/sbin/batctl -m bat-ffbsee gw_mode client
        pre-up /sbin/ip link set address $(ip -br l | grep eth0 | egrep -o '([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})' | head -1) dev bat-ffbsee
        post-up /sbin/ip link set address $(ip -br l | grep eth0 | egrep -o '([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})' | head -1) dev br-ffbsee
