auto vlan{{ vlan_id }}

iface vlan{{ vlan_id }} inet manual
      vlan-raw-device {{ inbound_lan_interface }}
      pre-up /usr/sbin/batctl ra {{batman_protocol_mode}}
      post-up /usr/sbin/batctl -m bat-{{ community_segment }} if add vlan{{ vlan_id }}
      post-down /usr/sbin/batctl -m bat-{{ community_segment }} if del vlan{{ vlan_id }}
