#
# Ansible controlled
#
auto {{ hostapd_wifi_interface }}
iface {{ hostapd_wifi_interface }} inet manual
{% if hostapd_bridge %}
        pre-up /sbin/brctl addif {{ hostapd_bridge }} {{ hostapd_wifi_interface }}
{% endif %}
