[submodule "roles/kdump"]
	path = roles/kdump
	url = https://github.com/wingcon/ansible-role-kdump.git
[submodule "roles/dhcpcd"]
	path = roles/dhcpcd
	url = https://github.com/DEvil0000/ansible-role-dhcpcd.git
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = https://github.com/githubixx/ansible-role-wireguard.git
