[defaults]
inventory = ./hosts.ini
retry_files_enabled = False
nocows = True

log_path = ./ansible.log

forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./facts
fact_caching_timeout = 7200
stdout_callback = yaml

[ssh_connection]
pipelining = True
# Option to retry failed ssh executions if the failure is encountered in ssh itself
retries = 3
