#
# {{ community_segment }} FASTd configuration
#

log to syslog level info;

interface "fastd-{{ community_segment }}";

method "salsa2012+umac";
method "null";

secret "{{ fastd_secret_key }}";
mtu 1406;

status socket "/var/run/fastd.{{ community_segment }}.sock";

on establish "
        batctl ra {{batman_protocol_mode}}
        ip link set $INTERFACE up
        batctl meshif bat-{{ community_segment }} if add $INTERFACE
        batctl meshif bat-{{ community_segment }} gw_mode client
        ip link set bat-{{ community_segment }} up
        ifup br-{{ community_segment }}
";

on disestablish "
        ifdown br-{{ community_segment }}
        ip link set bat-{{ community_segment }} down
        batctl meshif bat-{{ community_segment }} if del $INTERFACE
        ip link set $INTERFACE down
";

peer group "{{ community_segment }}" {
        peer limit 1;
        {% for peer in peers %}
        peer "{{ peer.name }}" {
                key "{{ peer.key }}";
                remote "{{ peer.remote }}" port {{ peer.port }};
        }
        {% endfor %}
}
