#
# ffbsee FASTd configuration
#

log to syslog level info;

interface "fastd-ffbsee";

method "salsa2012+umac";
method "null";

secret "{{ fastd_secret_key }}";
mtu 1406;

status socket "/var/run/fastd.ffbsee.sock";

on up "
        batctl ra BATMAN_V
        ip link set $INTERFACE down
        ip link set address $(ip -br l | grep eth0 | egrep -o '([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})' | head -1) dev $INTERFACE
        ip link set $INTERFACE up
        batctl -m bat-ffbsee if add $INTERFACE
";

on down "
        batctl -m bat-ffbsee if del $INTERFACE
";
peer group "backbone" {
        peer limit 1;

        peer "gw01" {
                key "7fa0b1bc37f77607ad273dbdcfd6a7a6f0c62139c969c68b1b0ce50ebaf86ce5";
                remote "speedtest5.gw01.ffbsee.net" port 1250;
        }

        peer "gw02" {
                key "29e965b4c8cf4ccf1d2387010965d0d4fa6d2713148c9d95730ffa0e9dfadc2e";
                remote "speedtest5.gw02.ffbsee.net" port 1250;

        }

        peer "gw03" {
                key "b59baed600c244df6b7f58d994958d53553828f7ad37bdac8a8be207af5ca5f8";
                remote "speedtest5.gw03.ffbsee.net" port 1250;

        }
        peer "gw04" {
                key "ab46cf23a48111d46451e32a60c18784ec47b903a5ae7c8df1c1ca38f73857fb";
                remote "speedtest5.gw04.ffbsee.net" port 1250;
        }
}
