{
  "nodeinfo": {
    "hostname": "{{ router_name }}",
    "hardware": {
      "model": "{{ router_hardware }}"
    },
    "owner": {
      "contact": "{{ router_contact }}"
    },
    "system": {
      "site_code": "ffmuc-welt",
      "role": "client"
    }
  },
  "firstseen": "2020-01-18T18:00:00"
}
