{
  "nodeinfo": {
    "hostname": "{{ router_name }}",
    "hardware": {
      "model": "{{ router_hardware }}"
    },
    "owner": {
      "contact": "{{ router_contact }}"
    },
    "system": {
      "site_code": "FFMUC Welt",
      "role": "client"
    }
  },
  "firstseen": "{{ lookup('pipe', 'date +%Y-%m-%dT%H:%M:%S')}}"
}
